@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
th,
td,
figure {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  max-width: 100% !important;
  height: auto !important;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.darkmode {
  --darkModeBlack: #ffffff;
  --darkModeGray: #767676;
  --darkModeWhite: #26292c;
  --darkModeDarkGreen: #8f4343;
  --darkModeLightGreen: #ffffff;
  --darkModeDarkBrown: #ffffff;
  --darkModeBrown: #ffffff;
  --darkModeLinghtBrown: #ffffff;
}

.color-example {
  background-color: var(--darkModeDarkGreen, #334c3f);
}

:root {
  --p1440: calc(100vw / 1440);
  --ps: calc(100vw / 1100);
  --pp: calc(100vw / 768);
  --ph: calc(100vw / 468);
}

@-webkit-keyframes triangleMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes triangleMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  font-family: "Noto Serif", Noto Serif TC;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

@media (max-width: 1100px) {
  #location {
    padding: 0 calc(40 * var(--ps)) 80px;
  }
}

@media (max-width: 768px) {
  #location {
    padding: 0;
    padding-bottom: 40px;
  }
}

@media (max-width: 468px) {
  #location {
    margin-top: 50px;
  }
}

#location .container {
  width: 100%;
  max-width: 1100px;
  padding: 75px 0 0;
}

@media (max-width: 768px) {
  #location .container {
    width: 100%;
    padding: 30px 30px 0;
  }
}

@media (max-width: 468px) {
  #location .container {
    width: 340px;
    padding: 30px 10px 0;
  }
}

#location .title-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#location .title-area img {
  width: 70px;
  margin-right: 15px;
  pointer-events: none;
}

@media (max-width: 468px) {
  #location .title-area img {
    width: 38px;
    margin-right: 6px;
  }
}

#location .title-area .title-area-infobox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid var(--darkModeBlack, #26292c);
}

#location .title-area .title-area-infobox h5 {
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  color: var(--darkModeDarkBrown, #767067);
}

@media (max-width: 468px) {
  #location .title-area .title-area-infobox h5 {
    font-size: 14px;
    line-height: 20px;
  }
}

#location .location-info-container {
  width: 100%;
  border-bottom: 1px solid var(--darkModeGray, #767676);
  padding: 0 0 35px 40px;
}

@media (max-width: 1100px) {
  #location .location-info-container {
    padding: 0 0 35px calc(40 * var(--ps));
  }
}

@media (max-width: 768px) {
  #location .location-info-container {
    padding: 0;
    padding-bottom: 35px;
  }
}

#location .location-info-container .info-map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1100px) {
  #location .location-info-container .info-map-box {
    width: calc(965 * var(--ps));
    position: static;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
}

@media (max-width: 768px) {
  #location .location-info-container .info-map-box {
    width: 100%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

#location .location-info-container .info-map-box .info-area-top {
  width: 100%;
  padding-top: 25px;
}

@media (max-width: 1100px) {
  #location .location-info-container .info-map-box .info-area-top {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (max-width: 768px) {
  #location .location-info-container .info-map-box .info-area-top {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

#location .location-info-container .info-map-box .info-area-top .info-inside-box {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid var(--darkModeDarkGreen, #334c3f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box {
    padding-right: 20px;
  }
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box {
    height: 50px;
    padding-right: 0;
  }
}

#location .location-info-container .info-map-box .info-area-top .info-inside-box:last-child {
  height: 102px;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box:last-child {
    height: 72px;
  }
}

#location .location-info-container .info-map-box .info-area-top .info-inside-box:last-child .last-title {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

#location .location-info-container .info-map-box .info-area-top .info-inside-box .info-title {
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 20px;
  font-weight: 700;
  margin-right: 45px;
  min-width: 81px;
}

@media (max-width: 768px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box .info-title {
    margin-right: 0;
  }
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box .info-title {
    font-size: 14px;
    min-width: 58px;
  }
}

#location .location-info-container .info-map-box .info-area-top .info-inside-box .info-content {
  color: var(--darkModeGray, #767676);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-area-top .info-inside-box .info-content {
    font-size: 14px;
  }
}

#location .location-info-container .info-map-box .map-area {
  width: 455px;
  height: 435px;
  background: var(--darkModeDarkGreen, #334c3f);
  position: absolute;
  top: -37px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#location .location-info-container .info-map-box .map-area img {
  width: 420px;
}

@media (max-width: 1100px) {
  #location .location-info-container .info-map-box .map-area {
    position: static;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
  }
  #location .location-info-container .info-map-box .map-area img {
    width: calc(370 * var(--ps));
  }
}

@media (max-width: 768px) {
  #location .location-info-container .info-map-box .map-area {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 20px;
    width: 100%;
    height: 350px;
  }
  #location .location-info-container .info-map-box .map-area img {
    width: 335px;
  }
}

#location .location-info-container .info-map-box .info-inside-lastbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1100px) {
  #location .location-info-container .info-map-box .info-inside-lastbox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (max-width: 768px) {
  #location .location-info-container .info-map-box .info-inside-lastbox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-title {
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 20px;
  font-weight: 700;
  margin-right: 45px;
  margin-top: 40px;
  min-width: 81px;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-inside-lastbox .info-title {
    font-size: 14px;
    margin-right: 25px;
    min-width: 58px;
    margin-top: 20px;
  }
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-content {
  color: var(--darkModeGray, #767676);
  margin-top: 43px;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-inside-lastbox .info-content {
    margin-top: 20px;
  }
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-content .content-road3 {
  font-size: 17px;
  font-weight: 700;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-inside-lastbox .info-content .content-road3 {
    font-size: 14px;
  }
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-content .content-road3 .road3 {
  margin-right: 20px;
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-content .content-road3 .triangle {
  display: inline-block;
  background-image: url(../img/location/triangle-brown-right.svg);
  width: 12px;
  height: 12px;
  margin-right: 2px;
  background-repeat: no-repeat;
  -webkit-animation: triangleMove 1s linear infinite;
          animation: triangleMove 1s linear infinite;
}

#location .location-info-container .info-map-box .info-inside-lastbox .info-content p {
  margin: 20px 0 0;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 468px) {
  #location .location-info-container .info-map-box .info-inside-lastbox .info-content p {
    font-size: 14px;
  }
}

.travel-map-area {
  width: 100%;
  max-width: 1100px;
  padding: 55px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 468px) {
  .travel-map-area {
    padding: 35px 0 0;
  }
}

.travel-map-area .info-inside-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

@media (max-width: 468px) {
  .travel-map-area .info-inside-box {
    margin-bottom: 25px;
  }
}

.travel-map-area .info-inside-box .info-title {
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 20px;
  font-weight: 700;
  margin-right: 45px;
}

@media (max-width: 900px) {
  .travel-map-area .info-inside-box .info-title {
    margin-right: 0;
  }
}

@media (max-width: 468px) {
  .travel-map-area .info-inside-box .info-title {
    font-size: 14px;
  }
}

.travel-map-area .info-inside-box .info-content {
  color: var(--darkModeGray, #767676);
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .travel-map-area .info-inside-box .info-content {
    display: none;
  }
}

@media (max-width: 468px) {
  .travel-map-area .info-inside-box .info-content {
    font-size: 14px;
  }
}

.travel-map-area .travel-map {
  width: 100% !important;
}

@media (max-width: 700px) {
  .travel-map-area .travel-map {
    width: 100%;
  }
}

.travel-map-area map area {
  cursor: pointer;
}

.hidden {
  display: none;
}

.openblock {
  display: block;
}

.openflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=location.css.map */