@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
:root {
  --p1440: calc(100vw / 1440);
  --ps: calc(100vw / 1100);
  --pp: calc(100vw / 768);
  --ph: calc(100vw / 468);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
th,
td,
figure {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.darkmode {
  --darkModeBlack: #ffffff;
  --darkModeGray: #767676;
  --darkModeWhite: #26292c;
  --darkModeDarkGreen: #8f4343;
  --darkModeLightGreen: #ffffff;
  --darkModeDarkBrown: #ffffff;
  --darkModeBrown: #ffffff;
  --darkModeLinghtBrown: #ffffff;
}

.color-example {
  background-color: var(--darkModeDarkGreen, #334c3f);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Serif", Noto Serif TC;
  padding-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--darkModeWhite, #ffffff);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-Area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.swiper-button-next {
  width: 50%;
  height: 100%;
  top: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
  cursor: url(../img/story/mouse-right-s.svg), pointer !important;
}

.swiper-button-prev {
  width: 50%;
  height: 100%;
  top: 0;
  position: absolute;
  opacity: 0;
  margin: 0;
  cursor: url(../img/story/mouse-left-s.svg), pointer;
}

.mySwiper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.swiper-slide span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: sideways-right;
  color: var(--darkModeGray, #767676);
  font-size: 14px;
  font-weight: 600;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .swiper-slide img {
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
  }
}

.pagination-box {
  width: 100%;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: unset;
}

/* button style */
.swiper-pagination-bullet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.swiper-pagination-bullet span {
  background-color: var(--darkModeLightGreen, #93948b);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--darkModeLightGreen, #93948b);
}

.swiper-pagination-bullet-active span {
  width: 11px;
  height: 11px;
  background-color: var(--darkModeDarkGreen, #334c3f);
  border: 1px solid var(--darkModeDarkGreen, #334c3f);
}

/* button circle */
.progress {
  width: 33px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 468px) {
  .progress {
    width: 20px;
    height: 11px;
  }
}

.line-origin {
  width: 100%;
  height: 1px;
  background: transparent;
  top: 50%;
  left: 100%;
  transform: translate(67%, -50%);
  -webkit-transform: translate(67%, -50%);
  -moz-transform: translate(67%, -50%);
  -ms-transform: translate(67%, -50%);
  -o-transform: translate(67%, -50%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 468px) {
  .line-origin {
    transform: translate(78%, -50%);
    -webkit-transform: translate(78%, -50%);
    -moz-transform: translate(78%, -50%);
    -ms-transform: translate(78%, -50%);
    -o-transform: translate(78%, -50%);
  }
}

.fill-bar {
  width: 100%;
  height: 100%;
  background-color: var(--darkModeDarkGreen, #334c3f);
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.swiper-pagination-bullet-active .line-origin {
  opacity: 1;
}

.swiper-pagination-bullet-active .line-origin .fill-bar {
  animation: progress 3.9s linear;
  -webkit-animation: progress 3.9s linear;
}

@-webkit-keyframes progress {
  from {
    flex-basis: 0%;
  }
  to {
    flex-basis: 100%;
  }
}

@keyframes progress {
  from {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  to {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.noShow {
  display: none;
}
/*# sourceMappingURL=rooms-swiper.css.map */