@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
th,
td,
figure {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  max-width: 100% !important;
  height: auto !important;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.darkmode {
  --darkModeBlack: #ffffff;
  --darkModeGray: #767676;
  --darkModeWhite: #26292c;
  --darkModeDarkGreen: #8f4343;
  --darkModeLightGreen: #ffffff;
  --darkModeDarkBrown: #ffffff;
  --darkModeBrown: #ffffff;
  --darkModeLinghtBrown: #ffffff;
}

.color-example {
  background-color: var(--darkModeDarkGreen, #334c3f);
}

:root {
  --p1440: calc(100vw / 1440);
  --ps: calc(100vw / 1100);
  --pp: calc(100vw / 768);
  --ph: calc(100vw / 468);
}

:root {
  --pv-img360: calc(100vw / 360);
}

body {
  font-family: "Noto Serif", Noto Serif TC;
}

#room5 {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
@media (max-width: 468px) {
  #room5 {
    margin-top: 50px;
    padding-top: 30px;
  }
}

.r-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
@media (max-width: 1000px) {
  .r-container {
    padding: 0 50px;
  }
}
@media (max-width: 700px) {
  .r-container {
    padding: 0 30px;
  }
}
@media (max-width: 570px) {
  .r-container {
    padding: 0 20px;
  }
}
@media (max-width: 468px) {
  .r-container {
    padding: 0 10px;
  }
}
.r-container h2 {
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 27px;
  font-weight: bold;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .r-container h2 {
    font-size: 20px;
    padding-top: 35px;
  }
}
.r-container .r-content {
  padding: 80px 0;
  display: flex;
}
@media (max-width: 1000px) {
  .r-container .r-content {
    padding: 25px 0;
    flex-direction: column-reverse;
  }
}
.r-container .r-content .r-pattern {
  width: 50%;
  height: 450px;
}
@media (max-width: 1000px) {
  .r-container .r-content .r-pattern {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .r-container .r-content .r-pattern {
    margin-top: 40px;
    height: 450px;
  }
}
@media (max-width: 570px) {
  .r-container .r-content .r-pattern {
    margin-top: 30px;
    height: 400px;
  }
}
.r-container .r-content .r-pattern .r-first-floor,
.r-container .r-content .r-pattern .r-second-floor {
  height: calc((100% - 40px) / 2);
  display: flex;
}
@media (max-width: 1000px) {
  .r-container .r-content .r-pattern .r-first-floor,
.r-container .r-content .r-pattern .r-second-floor {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .r-container .r-content .r-pattern .r-first-floor,
.r-container .r-content .r-pattern .r-second-floor {
    width: 400px;
  }
}
@media (max-width: 570px) {
  .r-container .r-content .r-pattern .r-first-floor,
.r-container .r-content .r-pattern .r-second-floor {
    width: 350px;
  }
}
@media (max-width: 468px) {
  .r-container .r-content .r-pattern .r-first-floor,
.r-container .r-content .r-pattern .r-second-floor {
    width: 300px;
    display: flex;
    justify-content: unset;
    align-items: start;
    flex-direction: column;
  }
}
.r-container .r-content .r-pattern .r-first-floor h4,
.r-container .r-content .r-pattern .r-second-floor h4 {
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 20px;
  font-weight: bold;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .r-container .r-content .r-pattern .r-first-floor h4,
.r-container .r-content .r-pattern .r-second-floor h4 {
    padding-right: 20px;
  }
}
@media (max-width: 570px) {
  .r-container .r-content .r-pattern .r-first-floor h4,
.r-container .r-content .r-pattern .r-second-floor h4 {
    font-size: 17px;
  }
}
@media (max-width: 468px) {
  .r-container .r-content .r-pattern .r-first-floor h4,
.r-container .r-content .r-pattern .r-second-floor h4 {
    font-size: 14px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
.r-container .r-content .r-pattern .r-first-floor {
  margin-bottom: 40px;
}
.r-container .r-content .r-info-top {
  width: 50%;
  height: 450px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .r-container .r-content .r-info-top {
    width: 100%;
    padding-left: unset;
    display: flex(space-between, center);
  }
}
.r-container .r-content .r-info-top .r-info-top-box {
  width: 100%;
  border-bottom: 1px solid var(--darkModeBrown, #e1dcd7);
  display: flex;
  justify-content: start;
  align-items: center;
}
.r-container .r-content .r-info-top .r-info-top-box:last-child {
  border-bottom: unset;
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-top-title {
  color: var(--darkModeDarkGreen, #334c3f);
  min-width: 100px;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}
@media (max-width: 570px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-top-title {
    font-size: 17px;
    padding: 0 10px;
  }
}
@media (max-width: 468px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-top-title {
    min-width: 80px;
    font-size: 14px;
  }
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-top-content {
  color: var(--darkModeGray, #767676);
  font-size: 15px;
}
@media (max-width: 1000px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-top-content {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 468px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-top-content {
    font-size: 14px;
  }
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-link-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-map-link {
  min-width: 80px;
  max-height: 25px;
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 15px;
  font-weight: bold;
  border: 2px solid var(--darkModeDarkGreen, #334c3f);
  padding: 0 8px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 10;
}
@media (max-width: 700px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-map-link {
    min-width: 44px;
    font-size: 14px;
    margin-right: 10px;
    padding: 0 6px;
  }
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-map-link:hover {
  color: var(--darkModeWhite, #ffffff);
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-map-link::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: var(--darkModeDarkGreen, #334c3f);
  position: absolute;
  opacity: 1;
  top: 0;
  left: -10%;
  z-index: -12;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
}
@media (max-width: 700px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-map-link::before {
    left: -15%;
  }
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-map-link:hover::before {
  opacity: 1;
  width: 120%;
}
.r-container .r-content .r-info-top .r-info-top-box .r-info-map-link span::after {
  content: "訂房流程";
}
@media (max-width: 700px) {
  .r-container .r-content .r-info-top .r-info-top-box .r-info-map-link span::after {
    content: "訂房";
  }
}
.r-container .r-info-bottom {
  width: 100%;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .r-container .r-info-bottom {
    padding: 30px 0;
  }
}
@media (max-width: 570px) {
  .r-container .r-info-bottom {
    padding: 0 10px 20px 10px;
  }
}
.r-container .r-info-bottom .r-info-bottom-box {
  width: 100%;
  padding: 0 70px;
  display: flex;
  justify-content: start;
  align-items: start;
}
@media (max-width: 1000px) {
  .r-container .r-info-bottom .r-info-bottom-box {
    padding: unset;
  }
}
@media (max-width: 570px) {
  .r-container .r-info-bottom .r-info-bottom-box {
    padding: 15px 0;
    flex-direction: column;
  }
}
.r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-title {
  min-width: 100px;
  color: var(--darkModeDarkGreen, #334c3f);
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 570px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-title {
    min-width: 90px;
    font-size: 17px;
  }
}
@media (max-width: 468px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-title {
    min-width: 80px;
    font-size: 14px;
  }
}
.r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content {
  color: var(--darkModeGray, #767676);
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 55px;
}
@media (max-width: 1000px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content {
    padding-bottom: 35px;
  }
}
@media (max-width: 570px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content {
    padding: 15px 7px;
  }
}
@media (max-width: 468px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content {
    font-size: 12px;
    padding: 10px 7px;
  }
}
.r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content .r-bottom-content-box {
  display: flex;
  justify-content: unset;
  align-items: unset;
}
.r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content .r-bottom-content-box span:first-child {
  min-width: 45px;
}
@media (max-width: 468px) {
  .r-container .r-info-bottom .r-info-bottom-box .r-info-bottom-content .r-bottom-content-box span:first-child {
    min-width: 36px;
  }
}

.r-rooms {
  width: 100%;
  max-width: 1100px;
  height: 215px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .r-rooms {
    height: 435px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}
@media (max-width: 570px) {
  .r-rooms {
    height: 295px;
    margin-bottom: 60px;
    padding: 0;
    flex-wrap: wrap;
  }
}
.r-rooms .r-rooms-shen5,
.r-rooms .r-rooms-shen7 {
  width: calc((100% - 30px) / 2);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px;
}
@media (max-width: 1000px) {
  .r-rooms .r-rooms-shen5,
.r-rooms .r-rooms-shen7 {
    width: 100%;
    height: calc((100% - 5px) / 2);
  }
}
@media (max-width: 570px) {
  .r-rooms .r-rooms-shen5,
.r-rooms .r-rooms-shen7 {
    height: 145px;
    padding: 18px 18px;
  }
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}
@media (max-width: 570px) {
  .r-rooms .r-rooms-shen5 .r-rooms-shen-text,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text {
    padding: unset;
  }
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-top,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-top {
  color: var(--darkModeWhite, #ffffff);
  width: 100%;
  height: 50%;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 570px) {
  .r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-top,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-top {
    font-size: 17px;
  }
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-top:hover,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-top:hover {
  color: var(--darkModeBlack, #26292c);
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-bottom,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-bottom {
  color: var(--darkModeWhite, #ffffff);
  width: 100%;
  height: 50%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 570px) {
  .r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-bottom,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-bottom {
    font-size: 12px;
  }
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-bottom img,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text .r-rooms-shen-text-bottom img {
  width: 112px;
  padding-bottom: 5px;
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text:hover,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text:hover {
  background-color: var(--darkModeWhite, #ffffff);
  opacity: 0.6;
  color: var(--darkModeBlack, #26292c);
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text:hover .r-shen5-text,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text:hover .r-shen5-text {
  color: var(--darkModeBlack, #26292c);
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text:hover .r-rooms-shen-text-top,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text:hover .r-rooms-shen-text-top {
  color: var(--darkModeBlack, #26292c);
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text:hover .r-rooms-shen-text-bottom,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text:hover .r-rooms-shen-text-bottom {
  color: var(--darkModeBlack, #26292c);
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text:hover .r-rooms-shen-text-bottom .bottom-img,
.r-rooms .r-rooms-shen7 .r-rooms-shen-text:hover .r-rooms-shen-text-bottom .bottom-img {
  display: block;
}
.r-rooms .r-rooms-shen5 {
  background-image: url("../img/rooms/room5-cover.jpg");
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-top {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.r-rooms .r-rooms-shen5 .r-rooms-shen-text .r-rooms-shen-text-top span {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-rooms .r-rooms-shen7 {
  background-image: url("../img/rooms/room7-cover.jpg");
}/*# sourceMappingURL=room5.css.map */