//flex設置，自行取用，預設為center/center
@mixin flex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
};

//位移設置，自行取用，無預設值，需填入x,y值
@mixin move($x, $y) {
    transform: translate($x, $y);
};


//若有圖片是固定px，又需要圖片可以自行變小，可以考慮換成這個單位
//如有個div是450px * 450px 需要他可以自行縮放，可改寫成下列
//範例寫法：width:calc(450 * var(--pv)) ; height:calc(450 * var(--pv))

//建議可以改寫在ipad的版本內
:root{
    --p1440: calc(100vw / 1440);
    --ps: calc(100vw / 1100);
    --pp: calc(100vw / 768);
    --ph: calc(100vw / 468);
}

//小螢幕版面設置
@mixin s-monitor{
    @media (max-width:1100px) {
        @content
    }
};

@mixin pc1440{
    @media (max-width:1440px) {
        @content
    }
};

//pad版面設置
@mixin pad{
    @media (max-width:768px) {
        @content
    }
};

//phone版面設置
@mixin phone {
    @media (max-width:468px) {
        @content
    }
};

//上列版面設置用法參考：https://ithelp.ithome.com.tw/articles/10193702