//網頁字體
$notoTC:Noto Serif TC;
$engFont:'Noto Serif';

//footer copyright文字大小
$footerCopyright: 12px;

//網頁,ipad版文字字級
$webH1: 36px;
$webH2: 27px;
$webH3: 24px;
$webH4: 20px;
$webH5: 17px;
$webH6: 15px;

//手機版文字字級
$phoneH3: 20px;
$phoneH4: 17px;
$phoneH5: 14px;
$phoneH6: 14px;

//顏色設置-黑灰系列
$shen57black: #26292c; //var(--darkModeBlack,$shen57black)
$shen57gray: #767676; //var(--darkModeGray,$shen57gray)
$shen57white: #ffffff; //var(--darkModeWhite,$shen57white)
//顏色設置-綠色系列
$shen57DarkGreen: #334c3f; //var(--darkModeDarkGreen,$shen57DarkGreen)
$shen57LightGreen: #93948b; //var(--darkModeLightGreen,$shen57LightGreen)
//顏色設置-棕色系列
$shen57DarkBrown: #767067; //var(--darkModeDarkBrown,$shen57DarkBrown)
$shen57Brown: #e1dcd7; //var(--darkModeBrown,$shen57Brown)
$shen57LinghtBrown: #f2ede7; //var(--darkModeLinghtBrown,$shen57LinghtBrown)

//深色模式，之後需要會正式啟用
.darkmode {
    --darkModeBlack: #ffffff;
    --darkModeGray: #767676;
    --darkModeWhite: #26292c;
    --darkModeDarkGreen: #8f4343;
    --darkModeLightGreen: #ffffff;
    --darkModeDarkBrown: #ffffff;
    --darkModeBrown: #ffffff;
    --darkModeLinghtBrown: #ffffff;
}

//如需使用顏色，請幫我使用上面那段var開始的顏色代碼，下面為範例
.color-example {
    background-color: var(--darkModeDarkGreen, $shen57DarkGreen);
}