@import 'reset';
@import 'variable';
@import 'mixin';

:root{
    --p600:calc(100vw / 600);
}

@mixin under600{
    @media (max-width:600px) {
        @content
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--darkModeWhite,$shen57white);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

// 以下為自己寫的
.swiper-Area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/story/bg2@2x.png');
    background-size: 50px;
    background-position: center bottom;
    padding-top: 30px;
}

.swiper-button-next {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    opacity: 0;
    cursor: url(../img/story/mouse-right-s.svg), pointer;
}
.swiper-button-prev {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    opacity: 0;
    cursor: url(../img/story/mouse-left-s.svg), pointer;
}

.mySwiper {
    width: 100%;
    height: 100%;
    max-width: 600px;
    height: 600px;
    box-sizing: unset;
    @include under600{
        max-width: calc(600 * var(--p600));
        height: calc(600 * var(--p600));
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        border-radius: 4px;
    }
}

//分割區域效果
.gridbox {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: relative;
}

.left-side {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    transition: 0.5s linear 0.1s;
    background-size: 300px 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-transition: 0.5s linear 0.1s;
    -moz-transition: 0.5s linear 0.1s;
    -ms-transition: 0.5s linear 0.1s;
    -o-transition: 0.5s linear 0.1s;
    @include under600{
        max-width: calc(300 * var(--p600));
        height: calc(600 * var(--p600));
        background-size: calc(300 * var(--p600)) calc(600 * var(--p600));
        transition: unset;
        -webkit-transition: unset;
        -moz-transition: unset;
        -ms-transition: unset;
        -o-transition: unset;
}
}

.right-side-top {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    transition: 0.5s linear 0.1s;
    background-size: 300px 300px;
    position: absolute;
    top: 0;
    right: 0;
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-transition: 0.5s linear 0.1s;
    -moz-transition: 0.5s linear 0.1s;
    -ms-transition: 0.5s linear 0.1s;
    -o-transition: 0.5s linear 0.1s;
    @include under600{
        max-width: calc(300 * var(--p600));
        height: calc(300 * var(--p600));
        background-size: calc(300 * var(--p600)) calc(300 * var(--p600));
        transition: unset;
        -webkit-transition: unset;
        -moz-transition: unset;
        -ms-transition: unset;
        -o-transition: unset;
}
}

.right-side-bottom {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    transition: 0.5s linear 0.1s;
    background-size: 300px 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 4px;
    -webkit-transition: 0.5s linear 0.1s;
    -moz-transition: 0.5s linear 0.1s;
    -ms-transition: 0.5s linear 0.1s;
    -o-transition: 0.5s linear 0.1s;
    @include under600{
        max-width: calc(300 * var(--p600));
        height: calc(300 * var(--p600));
        background-size: calc(300 * var(--p600)) calc(300 * var(--p600));
        transition: unset;
        -webkit-transition: unset;
        -moz-transition: unset;
        -ms-transition: unset;
        -o-transition: unset;
}
}

//分割效果->用JS加入class
.Ltrans {
    width: calc(100% - 8px);
    @include under600{
        width: calc(100% - 4px);
    }
}

.RTtrans {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    @include under600{
        width: calc(100% - 4px);
        height: calc(100% - 4px);
    }
}

.RBtrans {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    @include under600{
        width: calc(100% - 4px);
        height: calc(100% - 4px);
    }
}



//點點按鈕動畫效果

.pagination-box {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/story/bg2@2x.png');
    background-size: 50px;
    background-position: center top;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
}


/* button style */
.swiper-pagination-bullet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
}
.swiper-pagination-bullet span {
    background-color: var(--darkModeLightGreen,$shen57LightGreen);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    border:1px solid var(--darkModeLightGreen,$shen57LightGreen);

}

.swiper-pagination-bullet-active span {
    width: 11px;
    height: 11px;
    background-color: var(--darkModeDarkGreen,$shen57DarkGreen); 
    border:1px solid var(--darkModeDarkGreen,$shen57DarkGreen);
}

/* button circle */
.progress {
    width: 33px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

//transform: translate(此值可以調整線條位置, -50%);
.line-origin {
    width: 100%;
    height: 1px;
    background: transparent;
    top: 50%;
    left: 100%;
    transform: translate(67%, -50%);
    -webkit-transform: translate(67%, -50%);
    -moz-transform: translate(67%, -50%);
    -ms-transform: translate(67%, -50%);
    -o-transform: translate(67%, -50%);
    opacity: 0;
    display: flex;
}

.fill-bar {
    width: 100%;
    height: 100%;
    background-color: var(--darkModeDarkGreen,$shen57DarkGreen) ;
     flex: 0;
     flex-basis: 0%;
}

.swiper-pagination-bullet-active .line-origin {
    opacity: 1;
}
.swiper-pagination-bullet-active .line-origin .fill-bar {
    animation: progress 3.9s linear;
    -webkit-animation: progress 3.9s linear;
}

@keyframes progress {
    from{
        flex-basis: 0%;
    }
    to{
        flex-basis: 100%;
    }
}

//由js加入 隱藏最後點點的進度條
.noShow{
    display: none;
}