@import 'reset';
@import 'variable';
@import 'mixin';

// font-family
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


body {
    font-family: $engFont, $notoTC;
}

#story {
    width: 100%;
    @include flex;
    flex-direction: column;
    @include phone{
      margin-top: 50px;
      padding-top: unset;
    }
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 40px;
    margin-top: 20px;
    @include flex;
    flex-direction: column;

    @include phone() {
        padding: 0 10px;
        max-width: 360px;
    }
}

.s-swiper {
    @include flex;
    padding-bottom: 38px;

    @include phone() {
        padding-top: 76px;
        padding-bottom: 45px;
    }
    
    
    div {
        width: 600px;
        height: 600px;
        background-color: lightgray;
        margin-bottom: 30px;
        
        @include pad() {
            width: calc(600 * var(--pp));
            height: calc(600 * var(--pp));
        }
        
        @include phone() {
            width: calc(468 * var(--ph));
            height: calc(468 * var(--ph));
        }
    }
}


.s-intro {
    @include flex;
    margin-bottom: 80px;

    @include phone() {
        display: none;
    }

    p {
        font-size: $webH6;
        color: var(--darkModeDarkBrown,$shen57DarkBrown);
        line-height: 23px;
        text-align: center;
    }

    span {
        font-weight: 900;
    }
}

.s-text {
    @include flex(space-between, flex-start);
    flex: 1;
    width: 100%;
    max-width: 768px;
    margin-bottom: 100px;
    height: auto;
    position: relative;
    
    @include phone() {
        flex-direction: column-reverse;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 60px;
        position: unset;
    }
    
}

.s-text-left {
    padding-right: 130px;
    @include phone{
        padding-right: 0;
    }
    .t-1,
    .t-2,
    .t-3 {
        
        p {
            margin-bottom: 50px;
            font-weight: 500;
            font-size: $webH5;
            line-height: 26px;
            color: var(--darkModeDarkBrown,$shen57DarkBrown);

            @include phone(){
                line-height: 18px;
                font-size: $phoneH6;
            }
        }
    }
    .t-3{
        p{
            margin-bottom: 0;
        }
    }
}


.s-text-right {
    @include flex (space-between, flex-end);
    flex-direction: column;
    width: 68px;
    height: 100%;
    right: 0;
    position: absolute;

    @include phone() {
        width: 100%;
        flex-direction: row;
        height: 80px;
        padding-top: 0;
        padding-bottom: 28px;
        position: unset;
    }

    .s-word {
        width: 68px;
        height: 80px;
        @include phone{
            width: 40px;
            height: 44px;
        }
    }

    .s-word-en {
        font-size: $webH2;
        color: var(--darkModeBrown,$shen57Brown);
        writing-mode: vertical-lr;
        font-weight: bold;
        @include phone{
            font-size: $phoneH4;
        }
    }
}